.messages-card{

    width: 100%;
    /*border-bottom: 1px solid gray;*/
    display: flex;
    flex-flow: row;
    
    
    overflow: auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0.0);
}