* {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	text-decoration: none;
}


.col-xl-6 {
	height: 100vh;
}

.login-left {
	background: rgb(57, 90, 142);
	background: linear-gradient(248deg, rgba(57, 90, 142, 1) 0%, rgba(51, 131, 255, 1) 59%);

}

.login-right {
	background-color: #F5F6F6;
}

.marka {
	font-size: 3rem;
	font-weight: 700;
	margin-top: 12rem;
	letter-spacing: 5px;
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);

}

.marka-aciklama {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 20px;
}

.margin10 {
	margin-top: 12rem;
	margin-right: 3rem;
}


.main-button-selected {
	background-color: white;
	color: #3383FF;
	border-radius: 8px;
	text-align: center;
	text-decoration: none !important;
	font-size: 1.4rem;
	padding: 13px;
	font-weight: 600;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.09), 0 2px 1px rgba(0, 0, 0, 0);


}

.main-button-unselected {

	color: darkgray;

	text-align: center;
	text-decoration: none !important;
	font-size: 1.4rem;
	padding: 13px;
	font-weight: 600;

}

.inner-addon {
	position: relative;
}

/* style glyph */
.inner-addon .far, .fas {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align glyph */
.left-addon .far, .fas {
	left: 0px;
}

.right-addon .far, .fas {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 40px;
}

.right-addon input {
	padding-right: 40px;
}

.mailClass {
	background-color: #F5F6F6;
	outline: none;
	padding: 0.1em 0.5em;
	font-size: 1.4rem;
	border: none;

	border-bottom: 1px solid darkgray;
	-webkit-transition: border-bottom .5s;
	transition: border-bottom .5s;
	background: linear-gradient(#3383FF, #3383FF) bottom / 0% 3px no-repeat #F5F6F6;
	margin-bottom: 7px;
	transition: 1.5s;
}

.mailClass:hover {
	background-size: 100% 2px;
	border-bottom: none;
}


.mailClass:focus {
	background-size: 100% 2px;
	border-bottom: none;
}


.changeColorA {
	color: darkgray;
}

.changeColorB {
	color: #3383FF;
}


.btn-grad {
	background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED 51%, #56CCF2 100%);

}

.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	transition: .75s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	font-size: 1.3rem;
	border: none;
	font-weight: 600;
	letter-spacing: 2px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.22), 0 4px 8px rgba(0, 0, 0, 0.11);
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.altPanel {
	margin-top: 50px;
}

@media screen and (max-width: 1200px) {
	body {
		background-color: #F5F6F6;;
	}

	.login-left {
		height: 100px;
	}

	.login-right {
		height: 300px;
	}

	.marka-aciklama {
		display: none;
	}

	.marka {


		margin-top: 10px;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.margin10 {
		margin-top: 6rem;
		margin-right: 9rem;

	}

	html {
		font-size: 14px;
	}

	@media screen and (max-width: 1000px) {
		html {
			font-size: 12px;
		}

		.margin10 {
			margin-top: 6rem;
			margin-right: 10rem;

		}

		@media screen and (max-width: 900px) {
			html {
				font-size: 13px;
			}

			.margin10 {
				margin-top: 6rem;
				margin-right: 5rem;

			}
		}

		@media screen and (max-width: 600px) {
			html {
				font-size: 12px;
			}


			.marka {
				margin-top: 12px;
			}


			.margin10 {
				margin-top: 6rem;
				margin-right: 4rem;

			}
		}
	}
}